body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Header Section for desktops */

.navbar {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    height: auto;
    align-items: center;
    background-color: #D8C7AC;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
}

.logo {
    flex-grow: 1;
    max-height: 100px;
}

.logo img {
    max-width: 100%;
    max-height: 100px;
}

nav {
    flex-basis: 33%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 10px 0;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-right: 20%;
}

ul li {
    padding: 0 10px;
    list-style-type: none;
    font-size: 32px;
}

li a {
    text-decoration: none;
    color: black;
}

.button-mode {
    padding-right: 30px;
}

button {
    font-size: 16px;
    flex-basis: 25%;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 10%;
}

/* About Me Section */

main {
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

#about-me {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

.about-me-text {
    max-width: 70%;
}

.about-me-text h1 {
    padding-bottom: 30px;
    font-family: Raleway;
    font-size: 32px;
}

.about-me-text p {
    padding: 10px 0;
    font-family: Roboto;
    font-size: 16px;
}

.about-me-photo {
    flex-basis: 45%;
    flex-grow: 2;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.about-me-photo img {
    max-width: 100%;
    height: auto;
}

/* Footer Section */

footer {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    background-color: #D8C7AC;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 100px;
}

.logo-footer {
    flex-basis: 20%;
    max-height: 100px;
    padding-left: 10px;
}

.logo-footer img {
    max-width: 100%;
    max-height: 100px;
}